@use "sass:meta";
@import "./vendor/fontawesome.css";
@import "./plugins/swiper.css";
@import "./plugins/odometer.css";
@import "./vendor/animate.min.css";
@import "./vendor/bootstrap.min.css";

// custom css
@include meta.load-css("style.scss");
@include meta.load-css("custom.scss");
